@media (min-width : 2000px) {
    .form-booking {
        width: calc(100% - 70%) !important;
    }
}
@media (max-width: 1540px) {
    .header {
        .menu {
            padding: 35px 0px;

            .menu_item {
                padding-right: 15px;
            }
        }
    }
    .form-booking {
        width: calc(100% - 50%) !important;
    }
}
@media (max-width: 1440px) {
    .header {
        .menu {
            padding: 35px 0px;

            &__item {
                padding-right: 15px;
            }
        }
        &__logo {
            width: 140px;
        }
        &__label {
            font-size: 14px;
        }
    }
    .video {
        &__source {
            iframe {
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                width: 853px;
                height: 480px;
            }
        }
    }
    .tours {
        &__item {
            &:last-child {
                .item-back {
                transform: translateX(-40%);
                }
            }
        }
    }
    .form__mail {
        margin: 20px 70px 18px !important;
    }
    .rest__banner h3 {
        padding: 35px 0 !important;
    }
    .carousel {
        &__inner {
            width: 650px;
    
            img {
                width: 100%;
            }
        }
    }
    .form-booking {
        width: calc(100% - 40%) !important;
    }
}

@media (max-width: 1300px) {
    .header {
        &__menu {
            .menu_link {
                font-size: 12px;
            }
            .menu_item {
                padding-right: 10px !important;
            }
        }
        &__label {
            font-size: 12px;
        }
        &__phone {
            font-size: 12px;
        }
    }
}

@media (max-width: 1200px) {
    .tours {
        &__item {
            &:last-child {
                .item-back {
                transform: translateX(-45%);
                }
            }
        }
    }
    .map {
        min-height: 690px;
    }
    .interactive-map {
        min-height: 690px;

        .restoran-icon {
            position: relative;
            left: 22vh;
            top: -17vh;
        }
        .watch-icon {
            &__first {
                position: relative;
                left: -26.5vh;
                top: -9vh;
            }
            &__second {
                position: relative;
                left: 3vh;
                top: -9vh;
            }
        }
        .reception-icon {
            position: relative;
            left: 31.5vh;
            top: -8.5vh;
        }
    }
    .header {
        height: 102px;
        flex-direction: column;
        &__menu {
            .menu {
                padding: 15px 0;
            }
            .menu_link {
                font-size: 12px;
            }
            .menu_item {
                padding-right: 10px !important;
            }
        }
        &__links {
            padding: 10px 0 0 0;
        }
        &__logo {
            display: block;
        }
        &__label {
            font-size: 12px;
        }
        &__phone {
            font-size: 12px;
        }
    }
    .form__mail {
        margin: 20px 25px 18px !important;
    }
    .room_block {
        .description {
            font-size: 16px !important;
        } 
    }
    .icons__item {
        margin: -15px auto !important;
    }
    .form-booking {
        transform: translateY(calc(100% - 30%)) !important;
        width: calc(100% - 30%) !important;
    }
    .headline-wrapper {
        h1 {
            font-size: 20px !important;
        }
    }
}

@media (max-width: 991px) {
    .dacha-content {
        flex-direction: column;

        img {
            padding: 20px;
        }
    }
    .tour-content {
        flex-direction: column;

        img {
            padding: 20px;
        }
    }
    .rest__banner {
        width: 74% !important;
        h3 {
            font-size: 20px !important;
            width: 95% !important;
        }
        img {
            height: 84% !important;
        }
        .button {
            padding: 10px 75px !important;
            font-size: 20px !important;  
        }
    }
    .room_block {
        .room-content {
            flex-direction: column;
        }
        .description {
            font-size: 20px !important;
            padding: 15px 0 !important;
        }
    }
    .carousel {
        &__inner {
            width: 350px;
    
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .sale-content {
        display: flex;
        align-items:center !important;
        justify-content: center;
        flex-direction: column;

        img {
            width: 85%;
        }
    }
    .form__mail {
        max-width: 100% !important;
    }
    .form__contacts {
        width: 85% !important;
    }

    .check {
        &__item {
            transform: translateX(0%) !important;
        }
    }
    .rest__block {
        margin: 15px 0 !important;
        height: 95% !important;
    }
    .rest__banner {
        height: 90% !important;
        background: linear-gradient(180deg, $elements-color 35%, #ffffff 75%) !important;

        img {
            height: 80% !important;
            width: 100% !important;
            object-fit: cover !important;
            margin: 20px auto !important;
        }
        .banner_info {
            text-align: center !important;
            h3 {
                text-align: center;
            }
            a {
                padding: 10px 60px!important;
            }
        }
    }
    .additional {
        &__item {
            .desc {
                flex-direction: column;
            }
        }
    }
    .ent {
        &__table {
            td,th,tr {
                font-size: 18px;
            }
        }
        &__image {
            img {
                width: 100% !important;
            }
        }
    }
    .head_section {
        .head__title {
            h1 {
                font-size: 28px;
            }
        }

        .head__title_dacha {
            h1 {
                font-size: 22px;
            }
        }
    }
    .icons {
        flex-direction: column;
        background-color: #00000077;
        padding: 30px 0;
        &__item {
            font-size: 20px !important;
            img {
                width: 80px !important;
            }
        }
    }

    .form-booking {
        transform: translateY(calc(100% - 70%)) !important;
        width: calc(100% - 20%) !important;
    }
}

@media (max-width: 480px) {
    .ent {
        &__table {
            td,th,tr {
                font-size: 14px;
            }
        }
    }
    .head__title_dacha {
        h1 {
            font-size: 20px !important;
        }
    }
    .form-booking {
        transform: translateY(calc(100% - 75%)) !important;
        width: calc(100% - 10%) !important;
    }
}

@media (max-width: 360px) {
    .ent {
        &__table {
            td,th,tr {
                font-size: 12px;
            }
        }
    }
    .head_section {
        .head__title {
            h1 {
                font-size: 24px !important;
            }
        }
        .head__title_dacha {
            h1 {
                font-size: 16px !important;
            }
        }
    }
    .carousel {
        &__inner {
            width: 300px;
    
            img {
                width: 100%;
            }
        }
    }

}