@mixin bottom-menu__links {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px 0 15px;
    text-decoration: none;
    img {
        padding: 0 10px 0 0;
    }
}

@mixin title {
    color: whitesmoke;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin: 50px auto 0 auto;
}