$links-hover_color: #0050eb; // 2 variant color: #5f99ff;
$entertainments-block-color: linear-gradient(0deg, #63a253, rgb(255 255 255 / 10%)); //#aed7a3 // #aed7a3;
$elements-color: #5f99ff;
$backside-color: rgba(129,216,250,.3);