.main {
    .room_block {
        margin: 50px auto;
        position: relative;
        //background-color: $backside-color;
        color: #fff;
        width: 100%;
        padding: 30px 30px;

        .room-content {
            display: flex;
            align-items:start;
            justify-content: center;
            
            .room-image {
                display: block;
                object-fit: cover;
                width: 100%;
            }
        }
        h2 {
            text-align: center;
            font-size: 28px;
            padding: 0 0 10px 0;
        }
        .description {
            font-size: 20px;
            font-weight: 300;
            padding: 0 20px;
        }
    }

    .icons {
        display: flex;
        justify-content: space-between;
        align-items: end;
        &__item {
            margin: 25px auto;
            padding: 20px;
            color: white;
            text-align: center;
            font-size: 14px;
            p {
                padding: 10px 0;
            }
        }
    }

    .room_select {
        h3 {
            text-transform: uppercase;
            font-size: 24px;
            padding: 15px !important;
        }
        h4 {
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            font-weight: 400;
            padding: 10px;
        }
    }

    .options {
        font-size: 16px;
        line-height: 32px;
        font-weight: 400;
        padding: 25px 0;

        &__item {
            text-align: center;
            font-size: 18px;
            margin: 15px auto;
            color: white;

            .option-desc {
                display: inline-block;
            }
        }
    }

    .booking {
        background-color: #94d184;
        color: #fff;
        float: none;
        display: inline-block;
        border-radius: 2px;
        vertical-align: bottom;
        text-align: center;
        width: 20%;
        height: 250px;
        position: relative;
        padding: 35px 0;
        margin: 35px auto;

        p:first-child {
            font-size: 20px;
        }
        p {
            font-size: 40px;
        }

        &__button {
            cursor: pointer;
            padding: 10px 20px;
            background-color: #ffe600;
            border-color: #3097d3;
            color: #000;
            border-radius: 5px;
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            display: inline-block;
            width: calc(100% - 30px);
        }

        &__form {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(20,20,20,0.5);
            z-index: 10;
            cursor: pointer;

            .form-booking {
                background-color: #f2f3f7;
                padding: 20px;
                margin: auto;
                transform: translateY(calc(100% - 20%));
                width: calc(100% - 60%);
                position: relative;
                cursor: default;
            }

            .headline-wrapper {
                padding: 10px 0;
                h1 {
                    text-transform: uppercase;
                    text-align: center;
                    font-size: 32px;
                }
            }

            .close-icon {
                height: auto;
                width: auto;
                top: 10px;
                position: absolute;
                right: 10px;
                cursor: pointer;
            }

            input {
                background-color: #ffffff;
                padding: 5px;
                border-radius: 3px;
                border: 1px solid #d4dbfb;
            }

        }

        &__show {
            display: none;
            text-align: center;
            font-size: 20px;
        }

        &__hide {
            margin: auto;
            text-align: center;

            .date {
                background-color: #fff;
                padding-left: calc(2% + 20px);
            }

            label {
                display: inline-block;
                font-size: 14px;
                font-weight: 700;
                margin: 5px auto;
            }

            .rooms {
                margin: 10px auto;
                label {
                    float: left;
                }
                select {
                    border: none;
                    font-size: 14px;
                    height: 30px;
                    width: calc(100% - 100px);
                    //background: url(/img/icons/booking-form-triangle.png) no-repeat calc((100% + 10px) - 2%);
                    background-color: #ffffff;
                    background-size: 12px;
                }
            }

            .button_submit {
                button {
                    font-size: 20px;
                    padding: 10px;
                    width: 100%;
                    text-transform: uppercase;
                    background-color: #0081C5;
                    color: #fff;
                    margin: 17px auto;
                }
            }

            .contacts_input {
                input {
                    background-color: #ffffff;
                    padding: 5px;
                    border-radius: 3px;
                    border: 1px solid #d4dbfb;
                    margin: 5px auto;
                    width: 100%;
                }
                label {
                    display: block;
                    font-size: 14px;
                    font-weight: 700;
                    margin: 5px auto;
                }
            }

            .booking_oferta {
                text-align: center;
                font-weight: 400;
                font-size: 14px;
                a {
                    text-decoration: none;
                }
            }
        }
    }
    
}