.main {
    .sale_block {
        margin: 20px auto;
        position: relative;
        background-color: $backside-color;
        color: #fff;
        width: 100%;
        padding: 30px 30px;

        .sale-content {
            display: flex;
            align-items:start;
            justify-content: center;
            
            img {
                height: 180px;
                object-fit: cover;
            }
        }

        h2 {
            text-align: center;
            font-size: 28px;
            padding: 0 0 10px 0;
        }
        p {
            font-size: 18px;
            padding: 0px 20px;
        }
    }
}