.cottages-map {
    position: absolute;
    width: 100%;
    min-height: 890px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    .cottages {
        .cottage {
            position: absolute;
            background-image: url(../../img/cottages/fenfon.png);
            width: 514px;
            height: 255px;
            display: none;
    
            .photo {
                float: left;
                width: 202px;
                padding: 40px 0;
                img {
                    width: 170px;
                    height: 170px;
                    border-radius: 85px;
                    display: block;
                    margin: auto; 
                }
            }
    
            .title {
                font-size: 22px;
                text-align: center;
                padding-top: 25px;
            }
    
            .description {
                float: right;
                width: 312px;
                text-align: center;
                p {
                    font-size: 14px;
                    font-weight: 400;
                    padding: 8px 5px;
                    color: #000000;
                    padding-bottom: 0;
                    text-align: center;
                    width: 90%;
                    margin: auto;
                    strong {
                        font-weight: 700;
                    }
                }
                .button {
                    padding: 5px 33px;
                    position: relative;
                    color: #fff;
                    font-size: 15px;
                    background: #88b6e5;
                    margin: 20px;
                    text-decoration: none;
                    display: inline-block;
                }
            }

            &_complex {
                left: 943px;
                top: 288px;
                height: 270px;
            }

            &_sauna {
                left: 1010px;
                top: 277px;
                height: 270px;
            }

            &_admin {
                left: 1310px;
                top: 277px;
                height: 260px;
                width: 200px;
                .photo {
                    padding: 0px 0;
                }
            }

            &_3 {
                left: 870px;
                top: 305px;
                height: 270px;
            }

            &_5 {
                left: 754px;
                top: 278px;
                height: 270px;
            }

            &_7 {
                left: 680px;
                top: 250px;
                height: 270px;
            }

            &_8 {
                left: 650px;
                top: 270px;
                height: 235px;
            }
            
            &_11 {
                left: 660px;
                top: 300px;
                height: 255px;
            }
    
            &_15 {
                left: 355px;
                top: 340px;
                height: 235px;
            }
    
            &_16 {
                left: 430px;
                top: 310px;
                height: 270px;
            }
    
            &_17 {
                left: 530px;
                top: 285px;
                height: 235px;
            }

            &_21 {
                left: 730px;
                top: 245px;
                height: 235px;
            }

            &_23 {
                left: 630px;
                top: 240px;
                height: 235px;
            }

            &_27 {
                left: 1000px;
                top: 260px;
                height: 270px;
            }
        }
        .mark {
            cursor: pointer;
            
            position: relative;
            background-color: #fff;


            &_complex {
                cursor: pointer;
                left: 235px;
                top: -27px;
                width: 80px;
                height: 40px;
            }

            &_sauna {
                cursor: pointer;
                left: 384px;
                top: -35px;
                width: 30px;
                height: 17px;
            }

            &_admin {
                cursor: pointer;
                left: 585px;
                top: 53px;
                width: 40px;
                height: 30px;
            }

            &_3 {
                cursor: pointer;
                left: 162px;
                top: -15px;
                width: 40px;
                height: 25px;
            }

            &_5 {
                cursor: pointer;
                left: 65px;
                top: -55px;
                width: 40px;
                height: 25px;
            }

            &_7 {
                cursor: pointer;
                left: 15px;
                top: -90px;
                width: 40px;
                height: 25px;
            }

            &_8 {
                cursor: pointer;
                left: -65px;
                top: -85px;
                width: 40px;
                height: 25px;
            }

            &_11 {
                cursor: pointer;
                left: -245px;
                top: -95px;
                width: 60px;
                height: 40px;
            }
            
            &_15 {
                cursor: pointer;
                left: -540px;
                top: -75px;
                width: 57px;
                height: 27px;
            }
    
            &_16 {
                cursor: pointer;
                left: -482px;
                top: -145px;
                width: 75px;
                height: 44px;
            }
    
            &_17 {
                cursor: pointer;
                left: -368px;
                top: -210px;
                width: 47px;
                height: 37px;
            }

            &_21 {
                cursor: pointer;
                left: -180px;
                top: -284px;
                width: 40px;
                height: 25px;
            }

            &_23 {
                cursor: pointer;
                left: -65px;
                top: -315px;
                width: 40px;
                height: 25px;
            }

            &_27 {
                cursor: pointer;
                left: 337px;
                top: -365px;
                width: 45px;
                height: 25px;
            }
        }
    }
}