.head_section {

    .head {
        width: 100%;
        background: url(../../img/dachi_main.png) center (center/cover) no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        
        &__title {
            padding: 100px 0 100px 0;
            text-transform: uppercase;
            color: #7e7e7e;
        }
    }

}