.icons-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.sprite-1 {
    width: 53px;
    height: 53px;
    background-position: -5px -5px;
}

.sprite-11 {
    width: 53px;
    height: 53px;
    background-position: -131px -5px;
}
.winter .sprite {
    background-image: url(../../img/icons/razvlecheniya-spritesheet.png);
}

.sprite {
    background-image: url(../../img/icons/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-1 {
    width: 53px;
    height: 53px;
    background-position: -5px -5px;
}
.sprite-2 {
    width: 59px;
    height: 53px;
    background-position: -5px -131px;
}
.sprite-3 {
    width: 53px;
    height: 53px;
    background-position: -68px -131px;
}
.sprite-4 {
    width: 53px;
    height: 53px;
    background-position: -131px -131px;
}
.sprite-5 {
    width: 53px;
    height: 53px;
    background-position: -194px -131px;
}
.sprite-6 {
    width: 53px;
    height: 53px;
    background-position: -5px -194px;
}
.sprite-7 {
    width: 53px;
    height: 53px;
    background-position: -68px -194px;
}
.sprite-8 {
    width: 53px;
    height: 53px;
    background-position: -131px -194px;
}
.sprite-9 {
    width: 53px;
    height: 53px;
    background-position: -194px -194px;
}
.sprite-10 {
    width: 53px;
    height: 53px;
    background-position: -68px -5px;
}
.sprite-11 {
    width: 53px;
    height: 53px;
    background-position: -131px -5px;
}
.sprite-12 {
    width: 56px;
    height: 53px;
    background-position: -194px -5px;
}
.sprite-13 {
    width: 53px;
    height: 53px;
    background-position: -5px -68px;
}
.sprite-14 {
    width: 53px;
    height: 53px;
    background-position: -68px -68px;
}
.sprite-15 {
    width: 53px;
    height: 53px;
    background-position: -131px -68px;
}
.sprite-16 {
    width: 53px;
    height: 53px;
    background-position: -194px -68px;
}
.sprite-17 {
    width: 54px;
    height: 54px;
    background-position: 0 0;
}

.sprite-18 {
    width: 54px;
    height: 54px;
    background-position: -213px 0;
}
.sprite-19 {
    width: 54px;
    height: 54px;
    background-position: -142px 0;
}
.sprite-20 {
    width: 54px;
    height: 54px;
    background-position: -71px 0;
}
.sprite-21 {
    width: 54px;
    height: 54px;
    background-position: 0 -68px;
}
.sprite-22 {
    width: 54px;
    height: 54px;
    background-position: -71px -68px;
}
.sprite-23 {
    width: 54px;
    height: 54px;
    background-position: -142px -68px;
}
