.main {
    .contacts_block {
        margin: 50px auto;
        position: relative;
        background-color: $backside-color;
        color: #fff;
        width: 100%;
        padding: 30px 30px;

        h2 {
            text-align: center;
            font-size: 24px;
        }
        h3 {
            font-size: 18px;
            text-align: center;
            padding: 15px 0;
        }
        p {
            text-align: end;
        }
        .write {
            text-align: center;
            a {
                transition: all 0.4s;
                padding: 10px;
                background: $elements-color;
                color: white;
                font-size: 18px;
                text-decoration: none;
                &:hover {
                    background-color: $links-hover_color;
                }
            }

        }
    }

    .position_block {
        margin: 50px auto;
        position: relative;
        background-color: #5f99ff;
        color: #fff;
        width: 100%;
        padding: 30px 30px;

        h2 {
            text-align: center;
            font-size: 24px;
        }
        h3 {
            font-size: 18px;
            text-align: center;
            padding: 15px 0;
        }
        p {
            text-align: end;
        }
        .write {
            text-align: center;
            a {
                transition: all 0.4s;
                padding: 10px;
                background: $elements-color;
                color: white;
                font-size: 18px;
                text-decoration: none;
                &:hover {
                    background-color: $links-hover_color;
                }
            }

        }
    }

    .map_block {

        &__item {
            display: inline-block;
            background: $elements-color;
            color: #fff;
        }

        h6 {
            text-align: center;
            padding: 10px 0;
        }
    }

    .scheme {
        margin: 50px auto;
        text-align: center;
        a {
            color: white;
            text-decoration: none;
            background: $elements-color;
            padding: 15px;
            border-radius: 10px;
            font-size: 15px;
        }
    }

    .info {
        color: white;
        background: $elements-color;
        text-align: center;
        margin: 30px auto;
        padding: 20px;
        a {
            color: #fff;
        }
    }
}