.main {
    .ent {

        &__image {
            margin: 50px auto;
            text-align: center;
            img {
                width: 70%;
            }
        }

        &__block {
            margin: 50px 0;
            background-color: $backside-color;
            color: #fff;
            padding: 15px;
            height: 85%;
    
            img {
                width: 100%;
            }
    
            h2 {
                text-align: center;
                font-size: 28px;
            }
            p {
                text-align: justify;
                font-size: 18px;
                padding: 10px 0;
            }
        }

        &__table {
            padding: 20px 0;
            table {
                background-color: rgb(68 156 239 / 51%);
                max-width: 100%;
                border: 1px solid;
                color: white;
                font-size: 20px;
                padding: 10px;
                width: 100%;
                margin: 15px auto;
                
                td {
                    padding: 10px;
                }

                .title {
                    border-width: 1px;
                }
            }

        }
        
    }

    hr {
        border-color: #ececec;
        border-width: 2px;
        opacity: 1;
        width: 100%;
    }

    h2 {
        color: #fff;
        text-align: center;
        font-weight: 300;
    }
    
    h3 {
        color: #fff;
        text-align: center;
        font-weight: 400;
        font-size: 22px;
        padding: 30px;
    }
}